/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

li {
    list-style: none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
    width: 100%;
    height: 100%;
    background: #000;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin-bottom: 5rem;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: batman;
    background: #000;
}

/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1976d2;
    background-image: url('../img/bg1.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
   
}

/*Page separation Part*/

#main1,
#main2 {
    position: relative;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*First Page Part*/

.sponsers{
    margin-top: 4rem;
}

.head {
    font-family: 'archive';
    color: white;
    letter-spacing: 0.5rem;
    padding: 1%;
    font-size: 2vw;
}

.headContainer1 {
    position: relative;
    height: 30vh;
    padding: 1rem;
    padding-right: 5rem;
}

.headContainer2 {
    margin-top: 5rem;
    position: relative;
    border-left: 2px solid white;
    height: 30vh;
    padding: 1rem;
}

.headContainer1 img {
    margin-top: 2rem;
    position: relative;
    float: right;
    max-height: 40vh;
    max-width: 40vw;
}

#heading {
    font-family: 'Righteous';
    font-size: 5vw;
    padding-left: 2rem;
    color: white;
    position: relative;
    letter-spacing: 1rem;
    float: left;
    font-weight: bolder;
}

#subHeading {
    float: left;
    font-size: 2.5vw;
    padding-left: 2rem;
    position: relative;
    color: white;
    font-family: 'Quicksand';
}
.kuchbhi{
    margin-top: -2rem;
}

/*******Media Queries*******/

@media screen and (max-width: 600px) {
    #main1 {
        width: 100%;
    }
    #main2 {
        width: 90%;
    }
    .head {
        font-size: 3vw;
    }
    .headContainer1 img {
        max-height: 30vh;
        max-width: 50vw;
        float: none;
    }
    .headContainer1 {
        padding: 0rem;
    }
    #heading1 {
        top: 45%;
        left: 40%;
        font-size: 2rem;
    }
    .headContainer2 {
        margin-top: 1rem;
        border-left: none;
    }
    #heading {
        float: none;
        font-size: 10vw;
    }
    #subHeading {
        float: none;
        padding-left: 0rem;
        font-size: 1.5rem;
    }
    
    .kuchbhi{
        margin-top: -2rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    #main1 {
        width: 100%;
    }
    #main2 {
        width: 90%;
    }
    .head {
    }
    .headContainer1 img {
        max-height: 30vh;
        max-width: 50vw;
        float: none;
    }
    .headContainer1 {
        padding: 0rem;
        margin-top: -2rem;
    }
    #heading1 {
        top: 45%;
        left: 40%;
        font-size: 2rem;
    }
    .headContainer2 {
        margin-top: 1rem;
        border-left: none;
    }
    #heading {
        float: none;
    }
    #subHeading {
        float: none;
    }
   
    .kuchbhi{
        margin-top: 0rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
    #main1 {
        width: 100%;
    }
    #main2 {
        width: 90%;
    }
    .head {
    }
    .headContainer1 img {
        max-height: 30vh;
        max-width: 50vw;
        float: none;
    }
    .headContainer1 {
        padding: 0rem;
        margin-top: -2rem;
    }
    #heading1 {
        top: 45%;
        left: 40%;
        font-size: 2rem;
    }
    .headContainer2 {
        margin-top: 1rem;
        border-left: none;
    }
    #heading {
        float: none;
        font-size: 10vw;
    }
    #subHeading {
        float: none;
        font-size: 6vw;
        padding-left: 0rem;
    }
    
    .kuchbhi{
        margin-top: 5rem;
    }
    .sit {
        max-height: 150px;
        max-width: 150px;
    }
    

   

}

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
    #main1 {
        width: 100%;
    }
    #main2 {
        width: 90%;
    }
    .head {
    }
    .headContainer1 img {
        max-height: 30vh;
        max-width: 50vw;
        float: none;
    }
    .headContainer1 {
        padding: 0rem;
        margin-top: -2rem;
    }
    #heading1 {
        top: 45%;
        left: 40%;
        font-size: 2rem;
    }
    .headContainer2 {
        margin-top: 1rem;
        border-left: none;
    }
    #heading {
        float: none;
        font-size: 5vw;
    }
    #subHeading {
        float: none;
        font-size: 3vw;
        padding-left: 0rem;
    }
   
    .kuchbhi{
        margin-top: 0rem;
    }
    .sit {
        max-height: 150px;
        max-width: 150px;
    }
  

  
}

#domainLI li {
    text-align: left;
    font-size: 1.2em;
    list-style-type: decimal;
}

/*******************Timer Part***********************/

@import url('https://fonts.googleapis.com/css?family=Yantramanav');

:root {
    --width: 100vw;
    --segments: 0;
    --width-segment: calc(var(--width)/14);
    --radius: 1.5vmin;
    --rgb: #000;
    --fontColor: 255, 255, 255;
    --animationDirection: normal;
}

#timer{
    visibility: visible;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 40vw;
    position: absolute;
    top: 60%;
    left: 25%;
}

.splitflap {
    min-width: var(--width-segment);
    font-size: calc(var(--width-segment)*.75);
    text-align: center;
    height: var(--width-segment);
    color: white;
    margin: 5px;
    perspective: 1000px;
    position: relative;
    line-height: var(--width-segment);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    transform: translate3D(0, 0, 0);
}

.splitflap > div {
    width: 66%;
    border: 2px solid skyblue;
    overflow: hidden;
    left: 50%;
    margin-left: calc(var(--width-segment)/3*-1);
}

.front-top {
    border-radius: var(--radius) var(--radius) 0 0;
    height: 50%;
    width: 66%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.front-full {
    position: relative;
    height: 100%;
    width: 66%;
    margin-top: -50%;
    border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
    z-index: -1;
    transform-origin: center;
}

.front-top:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    border-bottom: 1px solid skyblue;
    box-sizing: border-box;
}


.back-top {
    position: relative;
    height: 50%;
    width: 66%;
    margin-top: -100%;
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
    z-index: 2;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.back-top:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.back-full {
    position: relative;
    height: 100%;
    width: 66%;
    margin-top: -50%;
    border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
    z-index: -3;
}

.flip1 {
    animation: flip1 ease-in 1s;
    animation-fill-mode: forwards;
    animation-direction: var(--animationDirection);
}

.flip2 {
    animation: flip2 ease-out 1s;
    animation-fill-mode: forwards;
    animation-direction: var(--animationDirection);
}

@keyframes flip1 {
    0% {
        transform: rotateX(0deg);
        background-color: rgb(var(--rgb));
    }
    50% {
        transform: rotateX(90deg);
        background-color: skyblue;
    }
    100% {
        transform: rotateX(90deg);
    }
}

@keyframes flip2 {
    0% {
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
        background-color: #000;
    }
}


.splitflap:nth-child(2n):after {
    position: absolute;
    top: -80%;
    left: -50%;
    text-align: center;
    font-size: 2.5vmin;
    color: black;
    height: 100%;
    width: 100%;
    z-index: 10;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: 1.5vw;
}

.splitflap:nth-child(2n-1) {
    margin-right: -2.9vw;
}

.splitflap:nth-child(2n + 3):after {
    content: ":";
    position: relative;
    font-family: futura;
    color: #fff;
    top: -7.5vw;
    left: 1.5vw;
    font-size: 5vw;
    margin-left: -11vw;
}

.splitflap:nth-child(8):after {
    content: "";
}


.text {
    width: 70%;
    height: 5%;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'archive';
}

.text > div {
    text-align: center;
    min-width: 10vw;
    flex-grow: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15vw;
    position: relative;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 23vh;
    margin-left: auto;
    margin-right: auto;
}

.register{
    position: relative;
    margin-top: 4rem;
    font-family: 'archive';
    color: #fff;
    letter-spacing: 0.5rem;
}

#register{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#domain{
    color: skyblue;
    cursor: pointer;
}

@media screen and (max-width: 600px) and (orientation : portrait){
    .container {
        left: 2%;
        margin-top: 3vh;
    }
    .center {
        top: 68%;
        left: 30%;
    }
    .register {
        margin-top: 0vh;
        font-size: 4vw;
    }
    :root {
        --width-segment: calc(var(--width)/9);
    }
    .text {
        width: 100%;
        font-size: 3.5vw;
    }
    .splitflap:nth-child(2n + 3):after {
        top: -12.5vw;
        margin-left: -16vw;
    }
    .footer h5{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) and (orientation :landscape) {
    .container {
        left: 2%;
        margin-top: 0vh;
    }
    .center {
        top: 90%;
        left: 30%;
    }
    .register {
        margin-top: 5vh;
        font-size: 4vw;
    }
    :root {
        --width-segment: calc(var(--width)/9);
    }
    .text {
        width: 100%;
        font-size: 3.5vw;
    }
    .splitflap:nth-child(2n + 3):after {
        top: -12.5vw;
        margin-left: -16vw;
    }
    .footer h5{
        font-size: 2.5vw;
    }
}


@media screen and (min-width: 600px) and (max-width: 768px){
    .container {
        left: 0%;
        margin-top: 22vh;
    }
    .center {
        top: 68%;
        left: 30%;
    }
    .register {
        font-size: 3vw;
        margin-top: -1rem;
    }
    :root {
        --width-segment: calc(var(--width)/15);
    }
    .text {
        width: 70%;
    }
    .splitflap:nth-child(2n + 3):after {
        top: -7.5vw;
        margin-left: -11vw;
    }
    .footer h5{
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
    .container {
        margin-top: 17vh;
        left: 3%;
    }
    .center {
        top: 68%;
        left: 30%;
    }
    .register {
        font-size: 5vw;
        margin-top: 0rem;
    }
    :root {
        --width-segment: calc(var(--width)/8);
    }
    .text {
        font-size: 4vw;
        width: 100%;
    }
    .splitflap:nth-child(2n + 3):after {
        top: -14vw;
        margin-left: -16vw;
    }
    .footer h5{
        font-size: 3.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
    .container {
        margin-top: 20vh;
    }
    .center {
        top: 80%;
        left: 30%;
    }
    .register {
        font-size: 3vw;
        margin-top: 0rem;
    }
    :root {
        --width-segment: calc(var(--width)/14);
    }
    .text {
        font-size: 2.5vw;
        width: 60%;
    }
    .splitflap:nth-child(2n + 3):after {
        top: -8vw;
        margin-left: -11vw;
    }
    .footer h5{
        font-size: 2vw;
    }
}


/******************
****TAB - Group****
*******************/

/* Style the tab */

.tab {
    overflow: hidden;
    margin-top: 5rem;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */

.tab button.active {
    color: black;
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    display: none;
    margin-top: 1rem;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: white;
    margin-bottom: 2rem;
}

.tabcontent p {
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.4em;
    font-family: 'Quicksand';
}

.tabcontent ol {
    padding: 10rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-family: 'Quicksand';
}

.tabcontent h2 {
    font-family: 'Quicksand';
}

.tabcontent h1 {
    font-family: 'robo';
}

.font {
    font-family: 'Quicksand';
    font-size: 1.5em;
}

.tabcontent h3 {
    padding-top: 2rem;
}

#register button{
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 200px;
    height: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-left: auto;
    margin-right: auto;
    background-color: #acd6ef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 2px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

/******Cash Prizes*****/

.first{
    max-height: 200px;
    max-width: 200px;
}
.second{
    max-height: 200px;
    max-width: 200px;
}
.third{
    max-height: 200px;
    max-width: 200px;
}
.secondprize p{
    padding: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.4em;
    font-family: 'Quicksand';
}

@media screen and (max-width: 768px) {
    .tabcontent p {
        padding: 1rem;
        padding-top: 1rem;
    }
    .tabcontent h3 {
        padding-top: 1rem;
    }
    .tabcontent ol {
        padding: 2rem;
    }
    .secondprize p{
        padding: 1rem;
    }
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.main{
    font-size: large;
    position: absolute;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 100;
}
.main-content{
    background-color: rgba(119, 119, 119, 0.14);
    padding: 5%;
}
.registerBnt{
    width: 50% !important;
    margin-left: 23% !important;
}
.main-header h2{
    font-weight: bolder;
    font-size: 3rem;

}

